/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-size: 1rem;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #222;
  color: #ddd;
  font-family: monospace;
}

.page {
  padding-top: 40px;
  min-height: 100vh;
  height: auto;
  width: 100%;
}

form {
  margin-top: 20px;
}

/* Navbar Styles */
/* Navbar Styles */
.navbar nav {
  display: flex;
  background-color: #333;
  padding: 10px 0;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}

.navbar nav .logo {
  font-size: 2rem;
  width: auto;
  color: #ddd;
  margin: 0 20px;
}

.navbar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar nav ul li:last-child {
  margin-right: 0;
}

.navbar nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1.1px;
}

.navbar nav ul li a:hover {
  background-color: #555;
}

.navbar .checkbtn {
  font-size: 2rem;
  color: #ddd;
  float: right;
  margin: 14px 20px 0px 20px;
  cursor: pointer;
  display: none;
}

.navbar #check {
  display: none;
}

@media screen and (max-width: 972px) {
  .navbar nav ul {
    position: fixed;
    height: auto;
    width: 40%;
    margin: 0;
    top: 70px;
    right: -40%;
    text-align: center;
    background-color: #333;
    transition: all 0.6s ease-out;
    z-index: 1000;
    box-shadow: inset 2px 2px 5px 1px #666, inset -2px -2px 40px 1px #666;
    border-radius: 5px;
  }

  .navbar nav ul li {
    display: block;
    line-height: 4rem;
  }

  .navbar nav ul li a {
    font-size: 1.2rem;
  }

  .navbar nav ul li a:hover {
    color: var(--main);
    background-color: transparent;
    border: none;
  }

  .navbar .checkbtn {
    display: inline-block;
  }

  .navbar #check:checked~ul {
    right: 10px;
  }

  .navbar .checkbtn .menu_btn {
    font-size: 1.6rem;
    line-height: 60px;
  }
}

@media screen and (max-width: 500px) {
  .navbar nav ul {
    width: 70%;
    right: -70%;
  }
}

/* New Course Page Styles */
.new_course_page form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  color: #ddd; /* Light text color */
  border-radius: 8px;
  margin-top: 20px;
}

.new_course_page .form_group {
  margin-bottom: 15px;
}

.new_course_page label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ddd; /* Light text color */
}

.new_course_page input[type="number"],
.new_course_page input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #555; /* Darker border color */
  border-radius: 4px;
  background-color: #444; /* Darker background */
  color: #ddd; /* Light text color */
}

.new_course_page input[type="submit"],
.new_course_page .btn,
.navbar .btn {
  padding: 10px 20px;
  background-color: #007bff; /* Blue color */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.new_course_page .quizForm {
  padding-top: 20px;
}

.new_course_page .btn {
  margin-right: 20px;
}

.new_course_page input[type="submit"]:hover,
.new_course_page .btn:hover,
.navbar .btn:hover {
  background-color: #0056b3; /* Darker shade of blue */
}

/* Generic Page Styles */
.dashboard_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.dashboard_page .login_btn {
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}

.dashboard_page .welcome_card {
  font-size: 1.1rem;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #444; /* Darker card background */
  margin: 10px;
}

.dashboard_page .login_btn:hover {
  background-color: #0056b3; /* Darker shade of blue */
}

.login {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #555; /* Darker border color */
  border-radius: 5px;
  background-color: #444; /* Darker background */
  max-width: 300px;
  width: 100%;
}

.login input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #555; /* Darker border color */
  border-radius: 3px;
  background-color: #333; /* Darker background */
  color: #ddd; /* Light text color */
}

.login input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50; /* Green color */
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background-color: #45a049; /* Darker shade of green */
}

/* Courses */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 6rem;
}

.card {
  width: 300px;
  border: 1px solid #555; /* Darker border color */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Darker box shadow */
  background-color: #444; /* Darker background */
  color: #ddd; /* Light text color */
}

.card .image {
  margin-bottom: 15px;
}

.card .image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card .desc {
  color: #ccc; /* Slightly lighter text color */
  margin-bottom: 15px;
}

.card .view_course,
.course_details .course_btn,
.quiz_form .quiz_btn {
  display: inline-block;
  padding: 8px 12px;
  background-color: #007bff; /* Blue color */
  color: #fff;
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.8rem;
  margin-right: 20px;
}

.card .view_course:hover,
.course_details .course_btn:hover,
.quiz_form .quiz_btn:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}

/* View Course */
.course_details {
  background-color: #333; /* Dark background */
  color: #fff; /* Light text */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 80%;
}

.course_details .buttons {
  text-align: right;
  margin-bottom: 10px;
}

.course_details .main {
  display: flex;
}

.course_details .main .left {
  flex: 1;
  text-align: center;
}

.course_details .main .left .image img {
  max-width: 70%;
  border-radius: 8px;
}

.course_details .main .right {
  flex: 2;
  padding: 0 20px;
}

.course_details .title {
  font-size: 24px;
  margin-bottom: 10px;
}

.course_details .description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.course_details .price {
  font-size: 18px;
  margin-bottom: 10px;
}

.course_details .buttons .btn {
  font-size: 1.1rem;
  border: none;
  outline: none;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  background-color: transparent;
  color: #ddd;
}

@media (max-width: 768px) {
  .course_details,
  .course_details .main {
    flex-direction: column;
  }
  .course_details .main .right {
    padding: 0;
    margin-top: 20px;
  }

  .quiz_form {
    width: 90%;
  }
}

/* Quiz Form */
.quiz_form {
  max-width: 80%;
  margin: 0 auto 20px;
  padding: 20px;
  background-color: #333;
  color: #ddd; /* Light text color */
  border-radius: 8px;
  margin-top: 20px;
}

.quiz_form .title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.quiz_form .form_group {
  margin-bottom: 20px;
}

.quiz_form .form_group .choice {
  margin-bottom: 5px;
}

.quiz_form .choice label {
  display: block;
  margin-left: 30px;
  font-weight: normal;
  cursor: pointer;
  color: #ddd; /* Light text color */
}

.quiz_form .choice input[type="radio"] {
  display: none;
}

.quiz_form .choice label::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border: 2px solid #555; /* Darker border color */
  border-radius: 50%;
  background-color: #444; /* Darker background */
  vertical-align: middle;
}

.quiz_form .choice input[type="radio"]:checked + label::before {
  background-color: #007bff; /* Blue color */
  border-color: #007bff;
}

.quiz_form .choice label:hover::before {
  background-color: #555; /* Darker shade on hover */
}

.quiz_form .quiz_btn {
  padding: 10px 20px;
  background-color: #007bff; /* Blue color */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

.quiz_form .quiz_btn:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}

/* Leader Board */
.leaderPage {
  width: 80%;
  color: #fff; /* Light text color for contrast */
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222; /* Dark background */
}

.leaderPage table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.leaderPage table th,
.leaderPage table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #444; /* Darker border color */
}

.leaderPage table th {
  background-color: #333; /* Darker header background */
}

.leaderPage table tbody tr:nth-child(even) {
  background-color: #333; /* Alternate row color */
}

.leaderPage table tbody tr:hover {
  background-color: #444; /* Hover color */
}

/* Profile Page */
.profile_page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
  background-color: #222; /* Dark background */
  color: #ddd; /* Light text color */
}

.profile_page .main {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background-color: #333; /* Darker background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Darker box shadow */
}

.profile_page .main .image {
  margin-bottom: 20px;
}

.profile_page .main .image .img {
  width: 150px; /* Adjust as per your design */
  height: 150px; /* Adjust as per your design */
  border-radius: 50%;
  border: 4px solid #007bff; /* Blue border */
}

.profile_page .main table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.profile_page .main table td {
  padding: 10px;
  border-bottom: 1px solid #444; /* Darker border color */
}

.profile_page .main table td:first-child {
  font-weight: bold;
  width: 30%;
}

.profile_page .main table td:last-child {
  text-align: left;
}

/* Footer */
footer {
  background-color: #111;
  color: #ccc;
  padding: 20px;
  text-align: center;
  margin-top: 4rem;
}

footer h1 {
  font-size: 16px;
  margin: 0;
}

footer .name {
  color: #007bff;
}

footer .block {
  font-style: italic;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  footer {
    padding: 15px;
  }
}


/* Carousel */
.carousel {
  width: 50%;
  margin: 2.5rem auto;
  border-radius: 10px;
  overflow: hidden;
}
.carousel .image {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel .image .carousel_image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .carousel {
    width: 90%;
  } 

  .carousel .image .carousel_image {
    height: 300px;
  }
}