/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/* Navbar Styles */
.navbar nav {
  background-color: #333;
  padding: 10px 0;
}

.navbar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar nav ul li:last-child {
  margin-right: 0;
}

.navbar nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

.navbar nav ul li a:hover {
  background-color: #555;
}

/* New Course Page Styles */
.new_course_page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.new_course_page .form_group {
  margin-bottom: 15px;
}

.new_course_page label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.new_course_page input[type="number"],
.new_course_page input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.new_course_page input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.new_course_page input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Generic Page Styles */
.dashboard_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  text-align: center;
}

.dashboard_page .login_btn {
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}

.dashboard_page .welcome_card {
  font-size: 1.1rem;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #d3d1d1;
  margin: 10px;
}

.dashboard_page .login_btn:hover {
  background-color: #0056b3;
}

.login {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 300px;
  width: 100%;
}

.login input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background-color: #45a049;
}
